/* ViewStyle.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
}

.payments-list {
    margin-top: 20px;
}

.payment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.payment-details p {
    margin: 5px 0;
}

.edit-button,
.delete-button {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}

.edit-button {
    background-color: #007bff;
}

.delete-button {
    background-color: #dc3545;
}

.add-payment-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.add-payment-button:hover {
    background-color: #218838;
}

